.display-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.client-menu {
  position: absolute;
  height: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #000;

  padding: 40px;
  box-sizing: border-box;
}
