.display-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:  flex-start;
  align-items: flex-start;

}

.client-menu {
  position: absolute;
  height: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #000;

  padding: 10px;
  box-sizing: border-box;
}
